/* mobile */
@media only screen and (max-width: 46.1875em) {
    .m-content{
        display: initial;
    }

    .full-width{
        width: 100%;
    }

    .title-name{
        font-size: 29px;
    }

    .source,
    .title-sub-name{
        font-size: 15px;
    }

    .content-name,
    .title-post,
    .content-right-name{
        font-size: 20px;
    }

    .content-sub-name {
        font-size: 18px;
    }

    .content-read{
        width: 100%;
        text-align: center;
    }

    .btn-read{
        width: 100%;
        padding: 14px;
        font-size: 13px;
    }

    .comments1 {
        font-size: 20px;
        padding: 4px 10px;
    }

    .content-right{
        margin-top: 40px;
    }

    .note,
    .sub-list-item{
        font-size: 12px;
    }

    .img-post {
        width: 55px;
        margin-right: 15px;
    }

    /* .list-items{
        font-size: 18px;
    } */

    .items-tag,
    .choose{
        padding: 12px;
        font-size: 12px;
        margin: 5px;
    }
    .comments,
    .btn-next,
    .btn-block,
    .title-list-item{
        font-size: 15px;
    }

    .content-comments{
        display: none;
    }
}

/* tablet */
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
    .m-content{
        display: initial;
    }

    .full-width{
        width: 100%;
    }

    .title-name{
        font-size: 45px;
    }

    .source,
    .title-sub-name{
        font-size: 24px;
    }

    .content-name{
        font-size: 35px;
    }

    .content-sub-name {
        font-size: 27px;
    }

    .btn-read{
            padding: 20px;
            font-size: 25px;
    }

    .comments1 {
        font-size: 20px;
        padding: 4px 10px;
    }

    .content-right{
        margin-top: 40px;
    }

    .content-right-name {
        font-size: 35px;
    }

    .title-post {
        font-size: 30px;
    }

    .list-items {
        padding: 16px;
    }
    .note,
    .sub-list-item{
        font-size: 13px;
    }

    .img-post {
        width: 70px;
        margin-right: 25px;
    }

    .items-tag,
    .choose{
        padding: 10px;
        font-size: 12px;
        margin: 6px;
    }
    .comments,
    .btn-next,
    .btn-block,
    .title-list-item{
        font-size: 15px;
    }
}

/* pc */
@media only screen and (min-width: 63.9375em) {
    
}